.profile {
    display: inline-flex;
    width: 100%;
}

.profile-details {
    font-size: 20px;
    line-height: 20px;
    width: 70%;

    div {
        padding-bottom: 15px;
    }
}

.profile-image {
    width: 30%;

    img {
        width: 100%;
        height: auto;
    }
}

.sub-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
   // background: rgba(247,73,2,0.95);
   // color: #ffffff;
    border: 1px solid #000000;
    background: lightgray;
    padding: 5px;
    margin: 20px 0;
}

.albums {
    display: inline-flex;
    width: 100%;
}
.albums-folder {
    width: 33%;
}

.folder {
    width: 300px;
    cursor: pointer;

    div {
        text-align: center;
        font-size: 20px;
    }
}

.albums-container {
    width: 98%;
    margin: 0 1%;
    position: absolute;
    top: 0;
    background: white;
    border: 1px solid gray;
}

.albums-images {
    display: flex;

    img {
        width: 90%;
        height: 600px;
        margin: 15px 0;
    }
}

.previous, .next {
    font-size: 24px;
    width: 5%;
    line-height: 600px;

    span {
        cursor: pointer;
    }
}

.next { 
    text-align: right;
}

.not-allowed span {
    cursor: not-allowed;
    color:red;
    line-height: 600px;
}

.album-header {
    font-size: 24px;
    text-align: center;
    background: lightgray;
    padding: 10px;
    border-bottom: 1px solid gray;

    span {
        float: right;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
}
